<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign page_title = page.title | default: site.title -%}
  {%- assign page_desc = page.excerpt | default: site.description | strip_html | normalize_whitespace | strip -%}
  <title>{{ page_title | escape }}</title>
  <meta name="description" content="{{ page_desc | escape }}">

  <meta property="og:title" content="{{ page_title | escape }}">
  <meta property="og:description" content="{{ page_desc | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:card" content="summary">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
